body{
	/*background: #9ec9eb;*/
	background-color: #c3babb;
	font-size: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
h1{color:#eb6100;font-size:21px;line-height:120%;}
h2{color:#eb6100;font-size:18px;line-height:120%;}
h3{color:#eb6100;font-size:15px;line-height:120%;}
h4{color:#eb6100;font-size:14px;line-height:120%;}
h5{color:#eb6100;font-size:13px;line-height:120%;}
h6{color:#eb6100;font-size:12px;line-height:120%;}

a{font-size: 14px;color:#3e6eac;  text-decoration: none; }
a:hover{background-color:#f3af6f;}

th,td,span{font-size: 14px;}

#top{
	height: 92px;
	background: url(top_bg.gif) repeat-x;
	padding: 16px 16px 0 50px;
}

#logo{
	height: 62px;
	width:62px;
	background: url(logo.gif);
}

#menu{
	background: #eeedf2;
	height:22px;
	padding-left:50px;
}
#menu ul{
	margin-left:0;
	padding-left:0;
	list-style: none;
	display: inline;
}
#menu ul li{list-style: none;font-weight:bold;color:#3e6eac;height:22px;line-height:22px;float: left;}
#menu ul li a{color:#3e6eac;font-weight:bold;height:22px;line-height:22px;/*display:block;*/padding-left:10px;padding-right:10px;}
#menu ul li a:hover{}
#menu ul li a.sel{background-color:#f3af6f;}

#mainbody{
	clear: both;
	background: #FFF;
	padding:10px 50px 10px 50px;
	_height: 300px;
	min-height: 300px;
}

#footer{
	background-color: #c3babb;
	font-size: 12px;
	color: #3e6eac;
	clear: both;
	height: 50px;
	padding:20px 50px 10px 50px;
}
#footer a{font-size: 12px;}
#footer .left{float:left;}
#footer .right{float:right;font-weight:bold;}

.filelist{
	display: inline;
}

.folder{
	background: url(folder.png) no-repeat;
	float: left;
	width: 155px;
	height:64px;
	background-color: #fff;
	margin: 1px 1px 1px 1px;
	padding: 3px 2px 3px 66px;
	background-position: 0 2px;
	border: 1px solid #9cf;
}

.file{
	background: url(file.png) no-repeat;
	float: left;
	width: 155px;
	height:64px;
	background-color: #fff;
	margin: 1px 1px 1px 1px;
	padding: 3px 2px 3px 66px;
	background-position: 0 2px;
	border: 1px solid #9cf;
}

.col{float:left;}
.cls{clear:both;line-height:0px;font-size:0px;}

.content{
	padding: 5px;
	border: 1px dashed #333;
	background-color: #CEF;
	margin-bottom:2px;
}

.button_bar{
	margin-top:5px;
	margin-bottom:5px;
	font-size:12px;
	background-color: #EEE;
}


.keywords_list{
	display: inline;
}

.keywords{
	float:left;margin-right:2px;
	padding:3px;
	border:1px dashed #999;
}