body{
	background-color: #c3babb;
	font-size: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
h1{color:#eb6100;font-size:21px;line-height:120%;}
h2{color:#eb6100;font-size:18px;line-height:120%;}
h3{color:#eb6100;font-size:15px;line-height:120%;}
h4{color:#eb6100;font-size:14px;line-height:120%;}
h5{color:#eb6100;font-size:13px;line-height:120%;}
h6{color:#eb6100;font-size:12px;line-height:120%;}

a{font-size: 14px;color:#3e6eac;  text-decoration: none; }
a:hover{background-color:#f3af6f;}

th,td,span{font-size: 14px;}

#admin_top{
	height: 55px;
	background: url(top_bg.gif) repeat-x;
	padding: 0 0 0 50px;
	margin-bottom:5px;
}

#admin_logo{
	height: 20px;
	width: 20px;
	/*background: url(logo.gif);*/
}

#admin_menu{
	float: left;
	width: 14%;
}
#admin_menu ul{
	margin:0 0 0 0;
	padding:0 0 0 20px;
	list-style: none;
	/*display: inline;*/
}
#admin_menu > ul{
	margin-left:-20px;
}
#admin_menu ul li{
	list-style: none;font-weight:bold;color:#3e6eac;height:22px;line-height:22px;
}
#admin_menu ul li a{
	color:#3e6eac;font-weight:bold;height:22px;line-height:22px;display:block;
	padding-left:5px;
}
#admin_menu ul li a:hover{}
#admin_menu ul li a.sel{background-color:#f3af6f;}

#admin_mainbody{
	clear: both;
	background: #FFF;
	/*padding:10px 50px 10px 50px;*/
	_height: 450px;
	min-height: 450px;
}
#admin_content{
	float: right;
	width: 85%;	
}

#admin_footer{
	background-color: #c3babb;
	font-size: 12px;
	color: #3e6eac;
	clear: both;
	height: 40px;
	margin-top: 10px;
	padding:10px 50px 0px 50px;
}
#admin_footer a{font-size: 12px;}
#admin_footer .left{float:left;}
#admin_footer .right{float:right;font-weight:bold;}

#app_info{
	text-align:center;font-size:9px;color:#666;
}

.col{float:left;}
.cls{clear:both;line-height:0px;font-size:0px;}

.content{
	padding: 5px;
	border: 1px dashed #333;
	background-color: #CEF;
	margin-bottom:2px;
}

.button_bar{
	margin-top:5px;
	margin-bottom:5px;
	font-size:12px;
	background-color: #EEE;
}

/*login*/
#login_area{
	margin: 20px auto;
	width:400px;
}
#login_area *{
	font-size:18px;
}
#login_area label{
	width:60px;
	display:block;
}
#login_area .input{
	width: 200px;
}